.language{
    background-image: url(./page.png);
    height: 100vh;
    background-size: cover;
}

.selection{
    transform: rotate(-90deg);
    color: rgb(0, 255, 224);
    font-family: "Jockey One", sans-serif;
    font-size: 45px;
    position: fixed;
    top: 290px;
    left: -250px;
}

.l{
    color: black;
    background-color: white;
    font-family: "Jockey One", sans-serif;
    font-size: 50px;
    width: 700px;
    display: flex ;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    border-radius: 10px;
}

.l:hover {
    background-color: rgb(0, 255, 254);
    color: rgb(0, 0, 0);
}

.la{
    width: 700px;
    margin: 0 auto;
}

.links_language{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}