* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f1f1f;
    padding: 20px;
}

.main {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #ffffff;
    font-family: "Dancing Script", cursive;
    text-align: center;
    margin-bottom: 30px;
    font-size: 80px;
}

.emotions {
display:grid;
grid-template-columns: repeat(3,1fr);   
    
}


.e1, .e2, .e3, .e4, .e5, .e6, .e7 {
    background-color: #fff;
    color: #000;
    font-size: 2em;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Alata", sans-serif;
    position: relative;
}

.e1:hover::before, .e2:hover::before, .e3:hover::before, .e4:hover::before, .e5:hover::before, .e6:hover::before, .e7:hover::before {
    transform: scale(1); 
}

.e1::before, .e2::before, .e3::before, .e4::before, .e5::before, .e6::before, .e7::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(17, 255, 0, 0.516);
    border-radius: 50%;
    transform: scale(0); 
    transition: transform 0.3s ease;
}
