

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

/* Login container styles */
.log-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../assets/Frame\ 2.png);
}

/* Form styles */
form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    
}

/* Input styles */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    /* border: 1px solid #000000; */
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    /* border-color: #000000; */
}

/* Button styles */
button[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #5697a1;
}

/* Link styles */
a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
}



/* Error message styles */
.error-message {
    color: #ff0000;
    margin-top: 10px;
    font-size: 14px;
}
