.tamil,
.telugu,
.eng {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 0 #000000;
  color: #ffffff;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  margin: 50px;
  font-size: 50px;
  height: 100px;
  font-family: "Alata", sans-serif;

}

.tamil:hover,
.telugu:hover,
.eng:hover {
  box-shadow: inset 10000px 0 0 0 #fff200;
  color: rgb(0, 0, 0);
}
