@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

*{
    padding: 0;
    margin: 0;
}
.nav_body{
    /* background-image: url(./Components/Home3.png); */
    height: 100vh;
    background-size: cover;
    
}
.navbar{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


#title{
    font-family: "Jockey One", sans-serif;
    font-size: 200px;
    color: white;
    position: fixed;
    left: 650px;
    top: 150px;
}

/* App.css */

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


.quotes p {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 13s linear infinite; /* Adjust timing as needed */
}



.quotes{
    color: white;
    font-family: "Jockey One", sans-serif;
    font-size: 40px;
    position:absolute ;
    left:725px;
    top: 50px;
    /* position: relative; */
    width: 50%;
    height: 100px; /* Adjust height as needed */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px; /* Adjust font size as needed */
    font-style: italic;
    text-align: center;
}

.moodbut{
    font-family: "Jockey One", sans-serif;
    font-size: 60px;
    color: rgb(0, 0, 0);
    position: fixed;
    left: 650px;
    top: 400px;
    background-color: rgb(0, 255, 224);
    width: 500px;
    border-radius: 30px;
}

.search{
    background-color: transparent;
    position: fixed;
    left: 900px;
    font-size: 30px;
    font-family: "Jockey One", sans-serif;
    width: 550px;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    bottom: 680px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .black{
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    z-index: -1111;
  }
  .cyan{
    height: 100vh;
    width: 60vw;
    background-color: rgb(0, 255, 224);
    transform: skew(-25deg);
    position: relative;
    right: 25%; 
    z-index: -1000;
  }
  
  @media (max-width: 750px){
    .cyan{
      /* height: 100vh; */
      width: 90vw;
      /* background-color: cyan;
      transform: skew(-25deg); */
      position: relative;
      right: 50%; 
    }
    /* .signup{
        font-size: x-large;
    } */

    a{
        font-size: medium;
    }
  
  }
  
  

a{
    text-decoration: none;
    color: black;
    font-family: "Jockey One", sans-serif;
    font-size:300%;
}

.login {
    /* position: fixed; */
    /* left: 15px;
    top: 15px; */
    color: #000000; 
    padding: 10px 20px; 
    border-radius: 8px; 
    transition: background-color 0.3s ease; 
    z-index: 9999; 
}


.login:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.signup {
    /* position: fixed; */
    /* left: 200px; */
    /* top: 15px; */
    color: #000000; 
    padding: 10px 20px; 
    border-radius: 8px; 
    transition: background-color 0.3s ease; 
    z-index: 9999; 
}

.signup:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.upload {
    /* position: fixed;
    left: 420px;
    top: 15px; */
    color: #000000; 
    padding: 10px 20px; 
    border-radius: 8px; 
    transition: background-color 0.3s ease; 
    z-index: 9999; 
}

.upload:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}



.chatbot button {
    /* position: fixed; */
    /* left: 15px;
    top: 15px; */
    color: #000000; 
    background-color: #00ffea;
    border-color:#00000000;
    padding: 10px 20px; 
    border-radius: 8px; 
    transition: background-color 0.3s ease; 
    z-index: 9999; 
    font-family: "Jockey One", sans-serif;
    font-size: 44px;
    transition: background-color 0.3s ease; 
}

.playbutton{
    height: 100px;
    width: 100px;
    position: fixed;
    left: 1170px;
    top: 395px;
}

.moodbut:hover{
    background-color: white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    position: relative;
    max-width: 80%; 
}

.close {
    
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #000000;
}

.close:hover {
    color: #000;
}

.close{
    font-size: 50px;
    color: rgb(255, 255, 255);
    width: 50px;
    z-index: 9999;
}

video {
    
    width: 100%;
    height: auto;
}
