@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body{
    font-family: "Alata", sans-serif; 
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    display: flex;
    justify-self: center;
    align-items: center;
}

.wrapper{
    justify-content: center;
    border: 1px solid black;
    height: 300px;
    width: 300px;
    margin: auto;
}

.input-box{
    justify-content: space-between;
    /* margin: 10px; */
    padding: 10px;
}