@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

body{
  background-image: url('./assets/b3.png');
  background-size: cover;
  display: block;
}

#topic{
  font-family: "Alex Brush", cursive;
  color: aliceblue;
  font-size: 115px;
  font-weight:400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}




@media (max-width) {
  
}
